* {
    font-family: Lato-Normal;
}

*:not(p) {
    transition: ease all .3s;
}

/* accent */
body {
	background-color: #fdfdfd;
	color: #393939;
}
.custom-hr, .skill-bar .filler {
    background-color: blueviolet;
}
.material-icons {
    color: blueviolet;
}
.header-elem-avatar img {
	color: #202020;
}
/* accent */


/* misc section */
.custom-hr {
    text-align: center;
}
.custom-hr#kreska1 {
    width: 285%;
    height: 2px;
    border-radius: 40%;
    margin-bottom: -1%;
}

.custom-hr#kreska2 {
    height: 98%; 
    margin-top: 2%;
    width: 2px; 
    border-radius: 40%;
}
.lb {
    font-family: Lato-Bold;
}
/* misc section */


/* header section */
.header {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-content {
    text-align: center;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-elem-avatar {
    width: inherit;
    max-width: 20%;
}
.header-elem-avatar img {
    width: inherit;
    height: inherit;
    border: 2px solid;
    border-radius: 100%;
}
.header-elem-creds {
    display:block;
    width:inherit;
    max-width: 60%;
    font-size: 13px;
}
/* header section */


/* main section */
.main {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.main-content {
    display: flex;
    align-items: start;
}
.main-content .first-section {
    width:35%;
    display:block;
}
.main-content .second-section {
    width:65%;
    display:block;
}

.title {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;

    font-size: 17px;
    margin-left: 2%;
}

/* .first-section .title {
    justify-content: flex-end;
}
.second-section .title {
    justify-content: flex-start;
} */

.work-entry .custom-hr {
    height: 0; 
    width: 0; 
    /*border-radius: 40%;*/
}

.contents {
    font-size:13px;
    margin-left: auto;
    margin-right: auto;
}
.contents p, a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
}

.skills {
    display:flex;
    text-align:left;
    justify-content: center;
    align-items: center;
}
.skill-entries { 
    width:80%;
}
.skill-bar {
    min-height: 20px;
    background-color: gray;
    margin-bottom: 5%;
}
.skill-bar .filler {
    min-height: inherit;
    position:relative;
    height:inherit;
}

.contents .contact-list {
    display:block;
    align-items: center;
}

.contents .contact-list a {
    display:flex;
    align-items:center;
    font-size:0.70em;
    color: #393939;
    text-decoration: none;
    margin-bottom:6%;
}

.contents .contact-list a span, img {
    margin-right: 3%;
    font-size:15px;
}
.github-icon {
    width:15px;
    height:15px;
}

.work-timeline {
    display: block;
}

.work-timeline .work-entry {
    display:block;
    margin-bottom: 4%;
}
.work-timeline .work-entry .entry-company{
    display:flex;
    justify-content: space-between;
    font-size:12px;
    color:#555555;
}
.work-timeline .work-entry .entry-position{
    letter-spacing: 3px;
    font-size:16px;
}
.work-timeline .work-entry .entry-description{
    font-size:13px;
}
/* main section */

@media only screen and (min-width:680px) {
    .contents .contact-list a span, img {
        margin-right: 3%;
        font-size:18px;
    }
    .github-icon {
        width:18px;
        height:18px;
    }
    .contents .contact-list a {
        font-size:1.20em;
    }
}

@media only screen and (min-width:1000px) {
    .contents .contact-list a span, img {
        margin-right: 3%;
        font-size: 30px;
    }
    .github-icon {
        width:30px;
        height:30px;
    }
    .contents .contact-list a {
        font-size:1.50em;
    }
}
