* {
    font-family: Lato-Normal;
}

/* misc section */
.custom-hr {
    text-align: center;
    background-color:blue;
}
.lb {
    font-family: Lato-Bold;
}
.material-icons {
    color:blue;
}
/* misc section */

/* header section */
.header {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-content {
    text-align: center;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-elem-avatar {
    width: inherit;
    max-width: 20%;
}
.header-elem-avatar img {
    width: inherit;
    height: inherit;
    border: 2px solid blue;
    border-radius: 100%;
}
.header-elem-creds {
    width:inherit;
    max-width: 60%;
    font-size: 13px;
}
/* header section */


/* main section */
.main {
    display:flex;
    width: 100%;
    height: 100%;
}
.main-content {
    display: flex;
    align-items: start;
}
.main-content .first-section {
    width:35%;
    display:block;
}
.main-content .second-section {
    width:65%;
    display:block;
}
.main-content .custom-hr {
    margin-top: 2%;
}

.title {
    font-size: 17px;
}
.first-section .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents {
    font-size:13px;
}
.contents p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 3%;
}
/* main section */