* {
    font-family: Lato-Normal;
}
.custom-hr {
    text-align: center;
    background-color:gray;
}
.lb {
    font-family: Lato-Bold;
}


.header {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-content {
    text-align: center;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header-elem-avatar {
    width: inherit;
    max-width: 20%;
}
.header-elem-avatar img {
    width: inherit;
    height: inherit;
    border: 2px solid gray;
    border-radius: 100%;
}
.header-elem-creds {
    width:inherit;
    max-width: 60%;
    font-size: 13px;
}

.contents {
    display:flex;
    margin-top: auto;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
.first-section .title {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .title {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

